{# Pour ajouter un carousel à une page : #}
{# Ajouter carousel: dans le front-matter #}
{# puis lister des chemins d'images #}

{% if carousel | length %}
{% set id = "carousel" %}
<div id="{{ id }}" class="carousel slide">
  <div class="carousel-indicators">
    {% for image in carousel %}
      <button type="button" data-bs-target="#{{ id }}" data-bs-slide-to="{{ loop.index0 }}" aria-label="Image {{ loop.index0 + 1 }}" {% if loop.index0 == 0 %} class="active" aria-current="true"{% endif %}></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for image in carousel %}
      <div class="carousel-item {% if loop.index0 == 0%} active {% endif %}">
        {% image image, "", { class: "d-block w-100 h-auto" } %}
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
{% endif %}
