---
eleventyComputed:
  title: 'Offre de formation "{{ training.name }}" par {{ training.users[0].name }}'
  eleventyNavigation:
    key: '{{ training.ref }}'
    title: '{{ training.name }}'
    parent: catalogue
  seo:
    description: 'Formation "{{ training.name }}" par {{ training.users[0].name }}'
permalink: "/formations/catalogue/{{ training.ref }}-{{ training.name | slugify }}/index.html"
pagination:
  data: trainings
  size: 1
  alias: training
  # via https://github.com/11ty/eleventy-navigation/issues/24#issuecomment-753378277
  addAllPagesToCollections: true
---

<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title h3">{{ training.name }}</h1>
    <ul class="list-unstyled">
      <li class="mb-2">
        <i class="fas fa-user-circle text-secondary" aria-hidden="true"></i>
        par
        {%- for user in training.users -%}
          {%- if loop.index0 > 0 %} et {% endif %}
          {%- if user.ref %}
            <a href="/entrepreneures/{{ user.name | slugify }}/" class="underline-hover fw-bold">{{ user.name | striptags }}</a>
          {% else %}
            {{ user.name | striptags }}
          {% endif %}
        {%- endfor -%}
      </li>
      {%- if training.duration -%}
        <li class="mb-2">
          <i class="fas fa-clock text-secondary" aria-hidden="true"></i>
          Durée : {{ training.duration }}
        </li>
      {%- endif -%}
      {%- if training.price -%}
        <li class="mb-2">
          <i class="fas fa-tag text-secondary" aria-hidden="true"></i>
          Prix catalogue : {{ training.price }} (hors frais de déplacement, d'hébergement, etc.) {{ '(prix libre possible)' if training.open_price }}
        </li>
      {%- endif -%}
      {%- if training.tag_names | length -%}
        <li class="mb-2 clearfix">
          <div class="float-left">
            <i class="fas fa-tags text-secondary" aria-hidden="true"></i>
            Étiquettes :
          </div>
          {% from "partials/_tags_list.njk" import tags_list %}
          {{ tags_list(training.tag_names) }}
        </li>
      {%- endif -%}
      {%- if training.notes | length -%}
      <li class="mb-2">
        <div class="float-left pe-1">
          <i class="fas fa-info-circle text-secondary" aria-hidden="true"></i>
        </div>
        <div class="ms-3 ps-1">
          {{ training.notes | safe }}
        </div>
      </li>
      {%- endif -%}
    </ul>
  </div>
  <div class="card-body">
    <div class="content">{{ training.summary | safe }}</div>
  </div>
  <div class="card-body">
    <h2 class="h4">Public(s)</h2>
    {{- training.audience | safe | striptags -}}
    {% if training.conditions %} ({{ training.conditions | safe | striptags }}){% endif %}
  </div>
  <div class="card-body">
    <h2 class="h4">Objectifs</h2>
    {{ training.objectives | safe }}
  </div>
  <div class="card-body">
    <h2 class="h4">Programme</h2>
    {{ training.details | safe }}
  </div>
  {%- if training.organization -%}
    <div class="card-body">
      <h2 class="h4">Organisation des cours</h2>
      {{ training.organization | safe }}
    </div>
  {%- endif -%}
  {%- if training.pedagogy -%}
    <div class="card-body">
      <h2 class="h4">Pédagogie</h2>
      {{ training.pedagogy | safe }}
    </div>
  {%- endif -%}
  {%- if training.evaluation_methods -%}
    <div class="card-body">
      <h2 class="h4">Modalités d'évaluation</h2>
      {{ training.evaluation_methods | safe }}
    </div>
  {%- endif -%}
  {%- if training.material -%}
    <div class="card-body">
      <h2 class="h4">Matériel</h2>
      {{ training.material | safe }}
    </div>
  {%- endif -%}
  <footer class="card-footer">
    {%- if training.training_actions.length -%}
      <span class="mb-n2 align-middle">Prochaines dates :</span>
      {% for action in training.training_actions -%}
        <a class="btn btn-sm btn-secondary text-decoration-none" href="mailto:{{ (training.users[0] | findTrainingProfile).email }}?subject={{ ['Question ou inscription à propos de la formation du ', action.training_sessions[0].start_at | toDate, ' : ', training.name] | join | urlencode }}">
          <span class="text-nowrap">
            <i class="fas fa-envelope me-2" aria-hidden="true"></i>
            {{- action.training_sessions[0].start_at | toDate }}
            {{ '(en ligne)' if action.online else '(en présentiel)' -}}
          </span>
        </a>
      {%- endfor -%}
    {%- else -%}
      <span class="mb-n2 align-middle">Pas de date programmée.</span>
      <a class="btn btn-sm btn-outline-secondary text-decoration-none" href="mailto:{{ (training.users[0] | findTrainingProfile).email }}?subject={{ ['Une formation ', training.name ,' à venir ?'] | join | urlencode }}">
        <i class="fas fa-envelope me-2" aria-hidden="true"></i> On s'en parle ?
      </a>
    {%- endif -%}
  </footer>
</div>
