<div class="row">
  {% for accompagnant in accompagnants -%}
    <div class="col-md">
      <div class="card shadow-sm mb-3">
        <div class="card-body d-flex d-md-block d-lg-flex position-relative">
          <div class="flex-shrink-0">
            <img src="{{ nextcloudUrl }}/avatar/{{ accompagnant.id }}/64" alt="" class="d-block mx-auto" lazy>
          </div>
          <div class="flex-grow-1 ms-3 ms-md-0 ms-lg-3 align-self-center">
            <a href="{{ accompagnant.form }}" class="h4 stretched-link" target="_blank">
              {{ accompagnant.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {%- endfor %}
</div>
