// Custom call-to-action
.btn.cta {
  @extend .btn-link;
  font-weight: bold;
  text-decoration: underline $primary-decoration 3px;
  height: auto;
  white-space: normal;
  text-align: left;
  margin-left: 1rem;
  padding-left: 1em;
  position: relative;

  &.active {
    background: $gray-200;
  }

  &.active,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:before {
    content: ">";
    position: absolute;
    left: 0;
    color: $red;
    padding-right: 0.3em;
    text-decoration: none;
    transition: padding 0.2s;
  }
  &.active:before,
  &:hover:before {
    padding-left: 0.3rem;
    padding-right: 0;
  }
}
