---
layout: main.njk
---

<section class="section content">
  <h1 class="title h2">{{ title | safe }}</h1>
  {% if subtitle %}<p class="subtitle h3">{{ subtitle }}</p>{% endif %}
  {{ content | safe }}
</section>
