---
layout: main.njk
---

<section class="section">
  <p class="h1 fw-bold">{{ title | safe }}</p>
  <p class="h2 lead">{{ subtitle }}</p>
</section>

<section class="row">
  <div class="col-12 col-md">
    <p>
      <strong>Nous rejoindre en 3 étapes</strong> :
    </p>

    <ol>
      <li><b>découvrir le fonctionnement</b> CAE lors d'une réunion d’information</li>
      <li><b>affiner mon projet</b> avec ma personne accompagnante</li>
      <li><b>démarrer</b> mon contrat</li>
    </ol>

    <p>
      <a href="{{ '/nous-rejoindre' | url }}" class="btn cta">Nous rejoindre</a>
    </p>

    <p class="mt-5">{{ extra }}</p>
  </div>

  <div class="col">
    {% include './graphique-entrepreneures.html' %}
  </div>
</section>

<section class="section content">
  {{ content | safe }}
</section>
